body {
  background: url(../images/pig-dice.jpg);
  background-size: 1370px 610px;
}
p {
  text-indent: 10px;
}
.startGame  {
  cursor: pointer;
}
.startGame:hover  {
  text-decoration: underline;
}
#roll-hold  {
  padding-left: 200px;
}
.game-showing  {
  display: none;
}
#show-rules  {
  cursor: pointer;
}
#show-rules:hover  {
  text-decoration: underline;
}
.rules-showing  {
  display: none;
}
